numpy
pandas
ipykernel
shap
lime
shapash
flask
bs4
scikit-learn
scipy
statsmodels
seaborn
imblearn
xgboost
streamlit
streamlit-searchbox
yfinance
openai
python-dotenv
dash-bootstrap-components
requests
dash
yahooquery
nltk
svgling
plotly
